PORT=8787
CORS_ORIGIN=http://localhost:5173

# Wallet admin autorizzato a creare pool e gestire fase operativa
ADMIN_WALLET=

# true=mock, false=live IOTA tx
MOCK_IOTA=true

IOTA_NETWORK=testnet
IOTA_FULLNODE_URL=
IOTA_PACKAGE_ID=
IOTA_SIGNER_SECRET_KEY=
IOTA_GAS_BUDGET=100000000
